@{
    ViewBag.Title = "Payment and delivery";
}

<h3>Delivery</h3>
<p>New Mail, anywhere in Ukraine 1-3 days.</p>

<h3>Payment</h3>
<p>VISA or Master Card by or by cash on delivery.</p>

<h3>Quality checking</h3>
<p>When you receive the goods at the post office, you have the right to pay for the order, try on, see and evaluate the quality of the ordered products suits you. Do you fit the size and style, does it meet your expectations.</p>

<h3>Return</h3>
<p>If you do not like the ordered products, you can refuse it.</p>

